* {
  box-sizing: border-box;
  
}

.timeline-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  min-height: 200px;
  max-height: 650px;
  margin: auto;
}

.timeline-messages-field {
  padding-left: 60px;
  height: 100%;
  overflow: auto;
}

.item-msg {
  display: flex;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.item-msg::before {
  content: '';
  width: 15px;
  height: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  position: absolute;
  left: -43px;
  top: 35px;
}

.item-msg::after {
  content: '';
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
    position: absolute;
    left: -50px;
    top: 10px;
    background-color: #ffffff;
}

.item-message-container {
  width: 100%;
}

video, audio {
  width: 100%;
}

.video-preview {
  width: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.item-message-date-container {
  width: 161px;
  margin-left: 15px;
}

.input-container {
  position: relative;
  width: 100%;
  height: 40px;
}

#input-field {
  width: 100%;
  height: 100%;
  padding: 5px 80px 5px 5px;
}

.av-buttons {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  height: 100%;
  align-items: center;
}

.av-button {
  border: 1px solid;
  width: 25px;
  height: 25px;
  border-radius: 25px;   
  margin-right: 10px;
  cursor: pointer;
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
}

#audio-rec-button {
  background-image: url('../img/phone.png');
}

#video-rec-button {
  background-image: url('../img/camera.png');
}

#save-rec-button {
  background-color: springgreen;
  background-image: url('../img/ok.png');
}

#cancel-rec-button {
  background-color: rgb(255, 67, 67);
  background-image: url('../img/cancel.png');
}

#timer {
  margin-right: 10px;
}

.recording-buttons {
  display: flex;
}

.stop-recording-buttons {
  display: flex;
  align-items: center;
}

.popup {
  position: absolute;
  border: 1px solid;
  border-radius: 15px;
  width: 450px;
  padding: 10px;
  top: 20px;
  left: 20px;
  background-color: #ffffff;
}

.popup-inp {
  width: 100%;
}

.popup-buttons {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
}

.button {
  border: 1px solid;
  border-radius: 15px;
  padding: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.clear {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 20px auto 20px auto;
  background-color: rgb(255, 67, 67);
}
